* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
}

html , body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h1 {
    font-size: 18vh;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4vw;
}

h1 span {
    display: inline-block;
}

@media (max-width:600px) {
    .main h1 {
        font-size: 3.5vh;
        letter-spacing: 1vw;
    }
}